{
	'AdminPassword':		'webware', #Change This!
	'PrintConfigAtStartUp': 1,
	'DirectoryFile':        ['index', 'Main'],
	'ExtensionsToIgnore':	['.pyc', '.pyo', '.py~', '.bak'],
	'LogActivity':          0,
	'ActivityLogFilename':  'Logs/Activity.csv',
	'ActivityLogColumns':   ['request.remoteAddress', 'request.method', 'request.uri', 'response.size', 'servlet.name', 'request.timeStamp', 'transaction.duration', 'transaction.errorOccurred'],
	'Contexts':             {'default':       'Examples',
							 'Admin':         'Admin',
							 'Examples':      'Examples',
							 'Docs':          'Docs',
							 'Testing':       'Testing',
							},

	'SessionStore':         'Dynamic',  # can be File or Dynamic or Memory
	'SessionTimeout':       60,  # minutes
	'IgnoreInvalidSession': 0,
	'MaxDynamicMemorySessions': 10000, #maximum sessions in memory
	'DynamicSessionTimeout'	: 15, #minutes, specifies when to move sessions from memory to disk
	'ExtraPathInfo'       : 0, #Set to 1 to allow extra path info to be attached to URLs
	'CacheServletClasses':	1,#Set to 0 for debugging
	'CacheServletInstances':1,#set to 0 for debugging
	# Error handling
	'ShowDebugInfoOnErrors':  1,
	'UserErrorMessage':       'The site is having technical difficulties with this page. An error has been logged, and the problem will be fixed as soon as possible. Sorry!',
	'ErrorLogFilename':       'Logs/Errors.csv',
	'SaveErrorMessages':      1,
	'ErrorMessagesDir':       'ErrorMsgs',
	'EmailErrors':            0, # be sure to review the following settings when enabling error e-mails
	'ErrorEmailServer':       'mail.-.com',
	'ErrorEmailHeaders':      { 'From':         '-@-.com',
		                        'To':           ['-@-.com'],
		                        'Reply-to':     '-@-.com',
		                        'Content-type': 'text/html',
		                        'Subject':      'Error',
	                          },
	'UnknownFileTypes': {
		'ReuseServlets': 1,

		# Technique choices:
		# serveContent, redirectSansAdapter
		'Technique': 'serveContent',

		# If serving content:
		'CacheContent': 1, #set to 0 to reduce memory use
		'CheckDate': 1,
	},
}
