# You cannot log in with an empty password:
AdminPassword = 'lakers' 
PrintConfigAtStartUp = True
DirectoryFile = ['index', 'Index', 'main', 'Main']
ExtensionsToIgnore = ['.pyc', '.pyo', '.py~', '.psp~', '.html~',
                      '.bak','.tmpl']
# if specified, only extensions in this list will be used:
ExtensionsToServe = []
UseCascadingExtensions = True
ExtensionCascadeOrder = ['.py','.psp','.kid','.html'],
FilesToHide = ['.*','*~', '*.bak', '*.tmpl', '*.config',
               '__init__.*', '*.pyc', '*.pyo']
# if specified, only files matching these patterns will be served:
FilesToServe = []
LogActivity = False
ActivityLogFilename = 'Logs/Activity.csv'
ActivityLogColumns = ['request.remoteAddress', 'request.method',
                      'request.uri', 'response.size', 'servlet.name',
                      'request.timeStamp', 'transaction.duration',
                      'transaction.errorOccurred']
Contexts = {}
Contexts['Admin'] = WebKitPath + '/Admin'
Contexts['Examples'] = WebKitPath + '/Examples'
# @@ sgd 2003-02-09 removed Docs context from 0.8 build. 
# Has been non-functional for some time, displaying an error on loading.
# Should probably be directed at the Webware Docs, rather than
# the WebKit Docs. 
# Contexts['Docs'] = WebKitPath + '/Docs'
Contexts['Testing'] = WebKitPath + '/Testing'
Contexts['default'] = WebKitPath + '/Examples' ##MAWD

SessionStore = 'Dynamic' # can be File or Dynamic or Memory
SessionTimeout = 60 # minutes
MaxDynamicMemorySessions = 10000 # maximum sessions in memory
DynamicSessionTimeout = 15 # minutes, specifies when to move sessions from memory to disk
SessionPrefix = None # can be set to "hostname" or any other string to prefix the session ID
IgnoreInvalidSession = True
UseAutomaticPathSessions = False
UseCookieSessions = True

ExtraPathInfo = True # set to True to allow extra path info to be attached to URLs

CacheServletClasses = True # set to False for debugging
CacheServletInstances = True # set to False for debugging

# Set to False to let PSP cache persist from one AppServer run to the
# next. If you have PSPs that take a long time to compile, this can
# give a speedup.
ClearPSPCacheOnStart = True 

# Error handling:
ShowDebugInfoOnErrors = True
IncludeFancyTraceback = False
EnterDebuggerOnException = False
IncludeEditLink = True
FancyTracebackContext = 5
UserErrorMessage = '''
The site is having technical difficulties with this page. An error has
been logged, and the problem will be fixed as soon as possible. Sorry!
'''

ErrorLogFilename = 'Logs/Errors.csv'
SaveErrorMessages = True
ErrorMessagesDir = 'ErrorMsgs'
EmailErrors = False # be sure to review the following settings when enabling error e-mails
ErrorEmailServer = 'mail.-.com'
EmailErrorReportAsAttachment = False
ErrorEmailHeaders = {'From': '-@-.com',
                     'To': ['-@-.com'],
                     'Reply-to': '-@-.com',
                     'Content-type': 'text/html',
                     'Subject': '[WebKit Error]',
                     }

MaxValueLengthInExceptionReport = 500

UnknownFileTypes = {
    'ReuseServlets': True,
    # Technique choices:
    #   serveContent, redirectSansAdapter
    'Technique': 'serveContent',
    'CacheContent': True, # set to False to reduce memory use
    'CheckDate': True}

OldStyleActions = False
RPCExceptionReturn = 'traceback' # occurred, exception, traceback
# set to False if you don't want to have exceptions in RPC servlets be
# reported in the logs and/or by email:
ReportRPCExceptionsInWebKit = True 
