# checksrc.config
{
	'SkipDirs':
		['Cache', 'Docs', 'DocSupport', 'Adapters', 'StartScripts'],
	'SkipFiles':
		[],
	'DisableErrors': {
		'ClassNotCap':
			['Object', 'index', 'stop', 'url1', 'url2', 'url3'],
		'ExtraParens':
			['Image'],
		'ExtraUnder':
			['AjaxPage', 'HTTPServer', 'JSONRPCServlet', 'XMLRPCServlet'],
		'NoBlankLines':
			['Image'],
		'NoUnderAttr':
			['HTTPExceptions', 'HTTPServer',
				'ImportManager', 'ImportSpy', 'XMLRPCServlet'],
		'UncapFN':
			['stress', 'index', 'stop', 'url1', 'url2', 'url3', 'util'],
	}
}
