# checksrc.config
{
	'SkipDirs': ['Cache', 'Docs', 'DocSupport', 'Adapters', 'StartScripts'],
	'SkipFiles': [],
	'DisableErrors': {
        'ExtraUnder': ['HTTPServer.py'],
        'NoUnderAttr': ['ImportSpy.py', 'HTTPServer.py'],
        'ClassNotCap': ['index.py', 'stop.py',
            'url1.py', 'url2.py', 'url3.py'],
        'UncapFN': ['stress.py', 'index.py', 'stop.py',
            'url1.py', 'url2.py', 'url3.py', 'util.py'],
	}
}
