{
	'html': {
		'tabSubstitute': ' '*4,  # eg, 4 spaces per tab
		'file': ('''
<html>
<head>
<title>%(filename)s</title>
<style type="text/css">
body{ background: #FFF; }
.line_class { color: #446; }
.line_category { color: #008; }
.line_def { color: #224; }
.name_class { color: #000; font-weight: bold; text-decoration: underline; }
.name_def { color: #000; font-weight: bold; }
</style>
</head>
<body>
<pre>''',

'''</pre>
</body>
</html>'''),

		'class':    ('\n\n', ''),
		'def':      ('', ''),
		'category': ('\n', ''),
	},

	'text': {
		'tabSubstitute': ' '*4,  # eg, 4 spaces per tab
		'file':          ('', ''),
		'class':         ('\n\n', ''),
		'def':           ('', ''),
		'category':      ('\n', ''),
	},
}
