/*
	This is the style sheet is for:
	  Webware/Documentations/ComponentIndex.html.

	It is not for the index.html files of varous components.

	Note that we assume that "StyleSheet.css" is linked to
	before we are.
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
}
p {
	padding-left: 0;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
.ComponentHeadings {
	font-weight: bold;
	color: white;
	background-color: #6666FF;
}
.ComponentRow1 {
	background-color: #E8E8FF;
}
.ComponentRow2 {
	background-color: #F0F0FF;
}
.NameVersionCell {
}
.Name {
	font-weight: bold;
}
.Version {
}

