{
	'KnownModels': {
		# this is keyed by host name
		# if host name does not match, '_default_' is used
		# the hosts of '_all_' is appended for all hosts
		'DAVESMACHINE': [
			'C:/dave/Projects/StockAlerts/cvs/SA/Dev/Core/StockAlerts.mkmodel',
		],
		'CHUCKHP': [
			'C:/All/echuck/Projects/StockAlerts/cvs/SA/Dev/Core/StockAlerts.mkmodel',
		],
		'_default_': [],
		'_all_': [],
	},

	'KnownDatabases': {
		# regarding keys, this dictionary works like KnownModels above
		'DAVESMACHINE': [
			{ 'database': 'MySQL', 'host': '207.75.246.134', 'user': 'drogers', 'password': '' },
		],

		'CHUCKHP': [
			{ 'database': 'MySQL', 'host': '207.75.246.134', 'user': 'drogers', 'password': '' },
			{ 'database': 'MySQL', 'host': 'localhost', 'user': '' },
		],
		'_default_': [],
		'_all_': [
		],
	}
}